* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

h2 {
    margin-top: 0px;
    margin-bottom: 30px;
}

/* .swatch h4 {
    margin: 0px;
} */

.swatch {
    background-color: rgb(234, 227, 219);
    margin: 38px;
    padding: 38px;
    text-align: center;
    box-shadow: 5px 5px 10px rgba(128, 0, 128, 0.581);
    max-width: 500px;
}

#column {
    display: flex;
    flex-wrap: wrap;
    
}

.swatches {
    padding: 20px;
}

.white {
    color: white;
}

/* #swatch-1 {
    background: linear-gradient(0deg,#2f0147, #e2c2c6)
} */

#swatch1-1 {
    background-color: #2F0147;
}

#swatch1-2 {
    background-color: #610f7f;
}

#swatch1-3 {
    background-color: #9c528B;
}

#swatch1-4 {
    background-color: #b9929f;
}

#swatch1-5 {
    background-color: #e2c2c6;
}

.swatch h4 {
    margin: 0px;
}

